.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.container {
  width: 90%;
  max-width: 1050px;
  background-color: #fffff5;
  border-radius: 35px;
  box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.02);
  margin: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .container {
    padding: 1.5rem;
    margin: 1rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1rem;
    margin: 0.5rem;
  }
}
